body{
  text-align:center;
  background: linear-gradient(#7d7dd0 0%, #3b1f55 100%);
background-repeat:no-repeat;
}
h1{
  text-shadow:2px 2px #2E2532
    font-size 30px;
}
img{
  border-radius:45%;
  width:100px;
}
.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
.menu{
  position:fixed;
  background:black;
  width:100%;
  top:0px;
  z-index:10;
  margin-top:0px;
  list-style: none;
}
.link:hover
{
  background-color:beige;
}
.links{
    float:left;
    padding-top: 5px;
    padding-left:9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family:'Pacifico', cursive;
    font-size: 20px;
}
#name {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}
#bio {
    font-family: cursive;
    padding: 50px;
  background-color:#EB5E55;
}

#contact{
  background-color:aliceblue;
}
.contact_1 h3{
  display:inline;
}
#contact iframe{
  width:100%;
}
.link{
  float: left;
}
img:hover{
  transform: scale(0.9);
}
.pic{
  border-style: solid;
  border-color: antiquewhite;
}
.color{
  background-color: aqua;
}
h1{
  font-family:'Pacifico', cursive;
  font-size: 25px;
}
h3{
  font-family:'Dancing Script', cursive;
}